<div class="container mt-5">
  <h2>Hotel</h2>

  <div class="row mt-3">
    <div class="col">
      <button type="submit" class="btn btn-success" (click)="newHotel()">New Hotel</button>
    </div>
  </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity Rooms</th>
        <th scope="col">City</th>
        <th scope="col">Nit</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotelsList">
        <th scope="row">1</th>
        <td>{{hotel.hot_name}}</td>
        <td>{{hotel.hot_quantity_rooms}}</td>
        <td>{{hotel.city.cit_name}}</td>
        <td>{{hotel.hot_nit}}</td>
        <td>
          <button type="submit" class="btn btn-warning" (click)="updateHotel(hotel)">Edit</button>
          <button type="submit" class="btn btn-info mx-2" (click)="roomsHotel(hotel.hot_id)">Room</button>
      </tr>
    </tbody>
  </table>

</div>
